<![CDATA[



<div class="auto-height">
                
        
        <div class="portlet-body">
            <div id="calendarMobile">
                <div class="padding-5 background-color-ghostwhite economicCalendarDateRow sticky-header">
                    <div class="text-center">
                     Monday, Feb 22, 2021
                    </div>
                </div>
            </div>

            <table id="economicCalendarTable" class="table table-hover text-center no-margin-bottom font11 sticky-thead-table">
                <thead>
                    <tr>
                        <th>
                            <div>
                                Date
                            </div>
                        </th>
                        <th>
                            <div>
                                Time Left
                            </div>
                        </th>
                        <th>&nbsp;</th>
                        <th data-displayPriority="true">&nbsp;</th>
                        <th data-displayPriority="true">
                            <div>
                                Event
                            </div>
                        </th>
                        <th data-displayPriority="true">
                            <div>
                                Impact
                            </div>
                        </th>
                        <th>
                            <div>
                                Previous
                            </div>
                        </th>
                        <th>
                            <div>
                                Consensus
                            </div>
                        </th>
                        <th>
                            <div>
                                Actual
                            </div>
                        </th>
                                                    <th data-displayPriority="true" id="calendarAlertMain">
                                <div style="display: inline-block">
                                    <a href="javascript:void(0)" class="selectAllEventEmailNotification"  add="true">
                                        All
                                    </a>
                                    <a href="javascript:void(0)" class="deselectAllEventEmailNotification"  add="false">
                                        None
                                    </a>
                                    <span><i id="calendarPopoverEmailNotifications" class="fas fa-info-circle"></i></span>
                                </div>
                            </th>
                                            </tr>
                </thead>
                <tbody>
                    
                                                                                                        <tr data-ignore-row="true" class="economicCalendarDateRow">
    <td colspan="10" class="background-color-ghostwhite bold">
        <div class="text-center">
                                Monday, Feb 22, 2021
                        </div>
    </td>
</tr>                                                                    




                    
<tr id="calRow2899531" data-row-id="2899531" class="economicCalendarRow"  role="button"  highlightColor="true">
    <td class="calendarToggleCell">
        <input type="hidden" id="itemOid" value="2899531" style="cursor: pointer;">
        <div class="align-center calendarDateTd" style="width: 90px;" data-calendarDateTd="2021-02-21 23:50:00.0">
            Feb 22, 02:50
        </div>
    </td>
        <td class="calendarToggleCell no-padding">
            <div>
            <span name="calendarLeft" class="calendarLeft text-center" importance="1" time="1613951399820"
                                   readonly="readonly" isPassed="0">2 days</span>
        </div>
            <div class="font-green-jungle calendarEventDone"   style="display: none" >
            <i class="fas fa-check green"></i>
        </div>
    </td>
    <td class="calendarToggleCell">
        <i id="calendarTip0" class="Japan align-center" title="Japan">
            <img src="https://www.myfxbook.com/images/transparent.png"
                 class="flag flag-icon-jp" alt="transparent"/>
        </i>
    </td>
    <td class="calendarToggleCell">
        JPY
    </td>
    <td class="calendarToggleCell text-left">
        Corporate Service Price Index (YoY)
    </td>
    <td class="calendarToggleCell">
                    <div class="impact_low">
                Low
            </div>
            </td>
            <td data-previous="8b5b0b93-a62e-483a-b3b2-e88632687336" pot="" unit="%"
        relation="true" class=" calRow calendarToggleCell">
        <span class="">
                                                -0.4%
                                    </span>
    </td>
            <td data-concensus="8b5b0b93-a62e-483a-b3b2-e88632687336" concensus="-1.1" consistConcensus="true" class="calendarToggleCell">
                    <div class="align-center">
                                    -1.1%
                            </div>
            </td>
        <td data-actual="8b5b0b93-a62e-483a-b3b2-e88632687336" pot="" unit="%" class=" calendarToggleCell">
            </td>
                        <td data-ignoreResponsiveClick="true" class="calendarAllNoneColumn calendarToggleCell">
                    <div class="align-center">
                                    <i id="calendarAlert2899531" calendarOid="2899531" data-name="calendarAlert" eventTime="1613951399820"
                       style="cursor: pointer;"
                                               class="font17 calendarAlert vertical-align-middle pointer fas fa-bell fa-bell-gray"
                       calendarAlertActiveBell="false"
                        >
                    </i>
                            </div>
                        </td>
    </tr>
<tr style="display: none;" class="chart-row" aria-expanded="true" data-chart-id="2899531">
    <td colspan="10" class="no-padding no-border">
        <div>
            <div class="text-left padding-10">
                <div>
                                                                <a href="https://www.myfxbook.com/forex-economic-calendar/corporate-service-price-index-yoy-feb-21-2021/2899531" class="calendar-event-link" target="_blank" rel="noopener noreferrer">
                            <span class='bold'>Corporate Service Price Index (YoY)</span>
                            <i class="fas fa-angle-double-right icon-title-link"></i>
                        </a>
                                    </div>
                <div
                        class="economic-calendar-description"
                        id="event-description-2899531"
                        data-description="The Corporate Service Price Index (CSPI) released by the &lt;a href=&quot;http://www.boj.or.jp/en/index.htm&quot; target=&quot;_blank&quot; &gt;Bank of Japan&lt;/a&gt; measures the prices of services traded among companies. It presents price developments that reflect most sensitively the supply and demand conditions in the services market. It is also considered as an indicator for inflationary pressures. Normally, a high reading is seen as positive (or bullish) for the JPY, while a low reading is seen as negative (or bearish)."
                        dir="auto"
                ></div>
            </div>
                            <div class="align-center">
                    <div id="chart2899531" class="calendar-chart-container"></div>
                </div>
                    </div>
    </td>
</tr>
                                                                    




                    
<tr id="calRow2900044" data-row-id="2900044" class="economicCalendarRow"  role="button"  >
    <td class="calendarToggleCell">
        <input type="hidden" id="itemOid" value="2900044" style="cursor: pointer;">
        <div class="align-center calendarDateTd" style="width: 90px;" data-calendarDateTd="2021-02-22 01:30:00.0">
            Feb 22, 04:30
        </div>
    </td>
        <td class="calendarToggleCell no-padding">
            <div>
            <span name="calendarLeft" class="calendarLeft text-center" importance="3" time="1613957399820"
                                   readonly="readonly" isPassed="0">2 days</span>
        </div>
            <div class="font-green-jungle calendarEventDone"   style="display: none" >
            <i class="fas fa-check green"></i>
        </div>
    </td>
    <td class="calendarToggleCell">
        <i id="calendarTip1" class="China align-center" title="China">
            <img src="https://www.myfxbook.com/images/transparent.png"
                 class="flag flag-icon-cn" alt="transparent"/>
        </i>
    </td>
    <td class="calendarToggleCell">
        CNY
    </td>
    <td class="calendarToggleCell text-left">
        PBoC Interest Rate Decision
    </td>
    <td class="calendarToggleCell">
                    <div class="impact_high">
                High
            </div>
            </td>
            <td data-previous="130becbc-7231-4f64-b7bc-d3024f274abc" pot="" unit="%"
        relation="true" class=" calRow calendarToggleCell">
        <span class="">
                                                3.85%
                                    </span>
    </td>
            <td data-concensus="130becbc-7231-4f64-b7bc-d3024f274abc" concensus="" consistConcensus="false" class="calendarToggleCell">
            </td>
        <td data-actual="130becbc-7231-4f64-b7bc-d3024f274abc" pot="" unit="%" class=" calendarToggleCell">
            </td>
                        <td data-ignoreResponsiveClick="true" class="calendarAllNoneColumn calendarToggleCell">
                    <div class="align-center">
                                    <i id="calendarAlert2900044" calendarOid="2900044" data-name="calendarAlert" eventTime="1613957399820"
                       style="cursor: pointer;"
                                               class="font17 calendarAlert vertical-align-middle pointer fas fa-bell fa-bell-gray"
                       calendarAlertActiveBell="false"
                        >
                    </i>
                            </div>
                        </td>
    </tr>
<tr style="display: none;" class="chart-row" aria-expanded="true" data-chart-id="2900044">
    <td colspan="10" class="no-padding no-border">
        <div>
            <div class="text-left padding-10">
                <div>
                                                                <a href="https://www.myfxbook.com/forex-economic-calendar/pboc-interest-rate-decision-feb-22-2021/2900044" class="calendar-event-link" target="_blank" rel="noopener noreferrer">
                            <span class='bold'>PBoC Interest Rate Decision</span>
                            <i class="fas fa-angle-double-right icon-title-link"></i>
                        </a>
                                    </div>
                <div
                        class="economic-calendar-description"
                        id="event-description-2900044"
                        data-description="The PBoC Interest Rate Decision is announced by &lt;a target=&quot;_blank&quot; href=&quot;http://www.pbc.gov.cn/en/3688006/index.html&quot; target=&quot;_blank&quot;&gt;the People&acute;s Bank of China&lt;/a&gt;. If the PBoC is hawkish about the inflationary outlook of the economy and rises the interest rates it is positive, or bullish, for the CNY. Likewise, if the PBoC has a dovish view on the Chinese economy and keeps the ongoing interest rate, or cuts the interest rate it is negative, or bearish."
                        dir="auto"
                ></div>
            </div>
                            <div class="align-center">
                    <div id="chart2900044" class="calendar-chart-container"></div>
                </div>
                    </div>
    </td>
</tr>
                                                                    


                                                                                                      </tbody>
            </table>
        </div>

    </div>]]>